
html {
  margin-left: -8px;
  margin-right: -8px !important;
  margin-top: -21px;
  margin-bottom: -10px !important;
  overflow-x: hidden;
}

h1,
h2,
h3,
li,
h4 {
  font-family: 'Merriweather', serif;
}

p,
article {
  font-family: 'Raleway', sans-serif;
}

article {
  padding-top: 12px;
  padding-bottom: 12px;
}

a:link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  text-align: center;
}

footer {
  background: #d3d3d340;
}

body{
  margin-bottom:-10px;
}

h4 {
  float: left;
  width: 50%;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.portfolio img {
  width:90%;
}


.profile-pic {
  width: 75%;
}

.main p {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
}

.main-nav li {
  background: #fff;
  margin-top: 5px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.main-nav ul {
  padding-left: 1em;
  padding-right: 1em;
}

.main-nav {
  background: #d3d3d340;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
}

.portfolio {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer {
  text-align: center;
  padding-top: 15px;
  width: 100%;
}

.t-border{
  border-top: 1px solid lightgrey;
}

.mini-nav {
  width: 100%;
  text-align: center;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
