
html {
  margin-left: -8px;
  margin-right: -8px !important;
  margin-top: -21px;
  margin-bottom: -10px !important;
  overflow-x: hidden;
}



article {
  padding-top: 12px;
  padding-bottom: 12px;
  height: 400px;

}

a:link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  text-align: center;
}

footer {
  background: #d3d3d340;
  padding-bottom: 10px;
}

body{
  margin-bottom:-10px;
}

h4 {
  float: left;
  width: 50%;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#contact {
  padding-bottom: 15px;
}

.portfolio img {
  width:90%;
}


.profile-pic {
  width: 75%;
}

.main p {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
}

.main-nav li {
  background: #fff;
  margin-top: 5px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.nav-bottom-items,
.main-nav ul {
  padding-left: 1em;
  padding-right: 1em;
}

.main-nav {
  background: #d3d3d340;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.portfolio {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.skills {
  text-align: center;
}

.footer {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.t-border{
  border-top: 1px solid lightgrey;
}

.mini-nav {
  width: 100%;
  text-align: center;
}

.large-nav {
  display: none;
}

a:link {
  color: skyblue;
}

a:active {
  color: turquoise;
}

a:hover {
  color: lightgreen;
}

a:visited {
  color: teal;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


@media (min-width: 768px) {

  .nav li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    background: inherit;
  }

  .main {
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }

  .main p {
    width: 60%;
    padding-left: 9px;
    padding-right: 9px;
    font-size: large;
  }

  .main img {
    width: 40%;
    padding-right: 18px;

  }

  .nav {
    display: inline-block;
    Padding-bottom: 45px;
  }

  .name {
    margin-bottom: 0px;
  }

  .one {
    float: left;
    width: 48%;
  }

  .two {
    float: right;
    width: 48%;
  }

  .three {
    float: left;
    width: 48%;
  }

  .four {
    float: right;
    width: 48%;
  }

  .five {
    float: left;
    width: 48%;
  }

  .six {
    float:right;
    width: 48%;
  }

  .mini-nav {
    display: none;
  }

  .large-nav {
    padding-top: 15px;
    padding-bottom: 80px;
    display: initial;
  }

  .nav-name {
    text-align: left;
    float: left;
  }

  .nav-bottom-items li {
    display: inline-block;
    margin-right: 20px;
  }

  .nav-bottom-items {
    text-align: right;
    float: right;
  }


}

@media (min-width:1024px) {

  .name {
    text-align: left;
    float: left;
  }

  .nav {
    text-align: right;
    float: right;
  }

  .primary {
    float: left;
  }

  .one {
    width: 33%;
  }

  .two {
    width: 33%;
  }

  .three {
    width: 33%;
  }

  .secondary {
    float: left;
  }

  .four {
    width: 33%;
  }

  .five {
    width: 33%;
  }

  .six {
    width: 33%;
  }


}
